.tmpone.output {
	width: 816px;
	height: 1056px;
}

.tmpone.row.is-flex {
	display: flex;
	flex-wrap: wrap;
}

.tmpone.row.is-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

 /*LEFT CONTAINER*/

.tmpone #left-container {
	height: 1056px;
	padding: 10px;
	background-color: #d3d4ce !important;
	text-align: center;
	justify-content: space-between;
}

.tmpone.dash {
	width: 50px;
	height: 5px;
	background-color: #677898 !important;
	margin: 0 101px 0 101px;
}

.tmpone img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin:;
}

.tmpone #title {
	margin: 10px 0;
}

.tmpone #contact-container i {
	margin-right: 5px;
}

/*RIGHT CONTAINER*/

.tmpone #right-container {
	height: 1056px;
	background-color: #677898 !important;
}

.tmpone #right-container h3 {
	background-color: #d3d4ce !important;
}

.tmpone #bootcamp > * {
	font-size: 85%;
}

.tmpone #start-date {
	margin-top: 3px;
}

.tmpone #job-title {
	margin-top: 3px;
}

.tmpone #job-summary {
	margin-bottom: 3px;
}

.tmpone #job-detail {
	margin-top: 3px;
}

.tmpone #deployed-link {
	margin: 3px 0;
}

.tmpone #repo-link {
	margin-bottom: 3px;
}

.tmpone #past-job > * {
	font-size: 85%;
}

.tmpone #project > * {
	font-size: 85%;
}

.tmpone h4 {
	margin-bottom: 3px;
}

