* {
	box-sizing: border-box;
}

@media print{
	.noPrint, button, .modal{
		display: none !important;
	}

	#output{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.col-md-4{
		width: 33.33333%;
		float: left;
	}

	.col-md-8{
		width: 66.66666%;
		float: left;
	}
}

@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}